@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="display-4">Welcome to the Employee Database Demo</h1>
    <br />
    <p>
        This is a demo website based on the material that covers <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">ASP.NET MVC</a>.
        The website will be an example Employee regstration database.
    </p>
    <p>
        MVC is a design pattern used to decouple user-interface (view), data (model), and application logic (controller). 
        This pattern helps to achieve separation of concerns.
        Using the MVC pattern for websites, requests are routed to a Controller that is responsible for working with the Model to perform actions and/or retrieve data.
        The Controller chooses the View to display and provides it with the Model. The View renders the final page, based on the data in the Model.
    </p>
    <p> Data used for employees is from a SQlite database</p>
</div>
