@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<h1>@ViewData["Title"]</h1>

<br />
<h3>Website created by J Patterson</h3>

<br />
<p>The Bootstrap used for the project is <a href="https://bootswatch.com/materia/"> Bootswatch Materia</a> </p>
